#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-link {
  width: 10%;
  will-change: filter;
  transition: filter 300ms;
}
.page-link:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.page-link.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button{
 width: 20%; 
}
.header-left{
  width: 20%;
  clear:none  ;
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}
.header-right{
  width: 60%;

  clear: none;
  float: right !important;
  line-height: 30px;
}

.header {
  display: flex;
  height: 30px;

}

